.form-container{
    display: flex;
    flex-direction: column;
    background-color: brown;
    align-items: center;
    text-align: center;
    border: 1px solid red;
}
.form-part{
        background-color: #F6F7F8;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        width: 80%;
        padding: 50px;
        margin: 0 0 40px 0;
      }
      .form-row {
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: auto;
      }
      
      .form-row input[type='text'] ,
      .form-row input[type='email'] {
        text-align: center;
        background-color: #FFFFFF;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        width: 50%;
        padding: 20px;
        font-size: 14px;
      }
      
      .form-row label {
        margin-bottom: 15px;
      }

