.infobar{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 1100px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #fffcf9;
    text-align: center;
    margin-top: 100px;
    box-shadow: 1px 5px 20px #192e3d;
}
.infobar img {
    margin-top: 30px;
    height: 200px;
    border-radius: 10px;
  
}
.infobar h1{
    margin-top: 15px;
    
}
/* ! Inizio responsive celluari */
@media (max-width: 600px) {
    .infobar{
     width: 420px;
    height: 900px;
    margin-left: 0px;
    margin-right: 0px;
    }
    .infobar h1{
        font-size: 25px;
    }
}
/* ! Inizio responsive tablet */
@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .infobar{
        width: 760px;
        height: 850px;
    }
} 