*{
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #8BC6EC;
height: 100%;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
background-repeat: no-repeat; 
background-size: cover;
}
.bio {
    display: flex;
    margin: 20px;
}
.bio img{
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 1px 5px 20px #192e3d;
    height: 750px;
    width: auto;
}
.bio_text{
    font-size: 30px;
    margin: 20px 20px 20px 20px;
    padding: 120px;
    background-color: #fffcf9;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 5px 20px #192e3d;
}
.bio_text h1{
    margin-top: 25px;
    margin-bottom: 0;
}



/*Inizio seconda parte*/
.biopt2 {
      display: flex;
      margin: 20px;
    }
 .biopt2 img {
        margin-bottom: 20px;
        margin-right: 20px;
        height: 750px;
        width: auto;
        border-radius: 10px;
        box-shadow: 1px 5px 20px #192e3d;
    }

.bio_text2{
    font-size: 30px;
    margin: 20px 20px 20px 20px;
    padding: 120px;
    background-color: #fffcf9;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 5px 20px #192e3d;
    }

/*Footer*/
footer{
  background-color:#294d67 ;
  height: auto;
  width: 100vw;
  color: #fffcf9;
  padding-top:40px ;
  box-shadow: 1px 5px 20px #192e3d;
}
.footer_content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer_content h3{
  font-size: 45px;
}
.footer_content p{
  margin: 10px auto;
  font-size: 25px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px 0 48px 0;
}
.socials a i{
  font-size: 35px;
  color: #fffcf9;
}
.socials a i:hover{
  color: #dbd9d9;
}
.Skills-part{
  margin: 20px;
  position: relative;
  padding: 20px;
  height: auto;
  border-radius: 10px;
  background: rgba(82, 123, 165, 1.0);
  background: linear-gradient(180deg, rgba(82, 123, 165, 1.0), rgba(88, 122, 212, 1.0));
  box-sizing: border-box;
  box-shadow: 1px 5px 20px #192e3d;
}
.Skill-box{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}
.Skill-box p{
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight:bold;
  letter-spacing: 1px;
}
.skill-level{
  background:#cacbeb;
  width: 100%;
  height: 10px;
}

/* inizio responsive*/
/* ! cellulari */
@media screen and (max-width: 600px) {
  body{
    height: 100vh;
  }
    nav img{
      margin-top: 2px;
      height: 50px;
      width: 60px;
    }
    .bio {
      margin: 0;
      flex-wrap: wrap; 
    }
    .bio img {
        margin-left: 25%;
        height: 350px;
        width: auto;
    }

    .bio_text{
        max-width: 100%;
        font-size: 20px;
        padding: 20px;
    }
    .biopt2 {
      flex-wrap: wrap; 
      margin: 0;
    }
    .biopt2 img {
        margin-left: 20%;
        height: 350px;
        width: auto;
    }

    .bio_text2{
        max-width: 100%;
        font-size: 20px;
        padding: 20px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /*tablet */
    footer{
      left: 0;
      bottom: 0;
      width: 100%;
    }
    body{
      height: 100%;
    }
  .navbar-nav{
      font-size: 25px;
  }
 .bio {
        flex-wrap: wrap;
      }
  .bio img{
    margin-left: 20%;
  }
  .bio_text{
    font-size: 25px;
    max-width: 100%;
    padding: 20px;
  }
  .biopt2{
    flex-wrap: wrap;
  }
  .bio_text2{
    font-size: 25px;
    max-width: 100%;
    padding: 20px;
  }
  .biopt2 img{
    align-items: center;
    margin-left: 150px;
  }
}

/*Import */
